body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

#properties-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.property-card {
    background: white;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(163, 36, 36, 0.1);
}

.photo-gallery {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.photo-gallery img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
    flex-shrink: 0;
}

.property-card h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.property-card p {
    margin: 5px 0;
    color: #555;
}

.property-card a {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    padding: 10px 15px;
    background: #377946;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.property-card a:hover {
    background: #e00e07;
}

.photo-count {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    margin: 8px 0;
}

/* Mobile */
@media(max-width:768px) {

    .property-card {
        margin: 8px;
        padding: 10px;
    }

    .photo-gallery img {
        width: 170px;
        height: 130px;
    }

    .property-card h2 {
        font-size: 18px;
    }

    .property-card a {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        margin-top: 6px;
    }
}


h1 {
    text-align: center;
    margin: 20px 0;
    color: #41197a;
}

#searchBox {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}